form label{
    color: #000;
}
.forminfomain{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    width: 50%;
    background: white;
    border-radius: 20px;
    padding: 20px;
}
@media (max-width: 800px){
    .form{
        width: 80%;
    }
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.buttons{
    margin-top:20px;    
    display: flex;
    width: fit-content;
}
.btn{
    margin-right: 20px;
}
.wallet-button {
    padding: 7px;
}
.buttons .btn input, .buttons .reset input, .buttons .btn button, .wallet-button{
    font-family: "Roboto", sans-serif;
    outline: 0;
    border-radius: 50px;
    background: #000;
    width: 100%;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.radio-container {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
}
.inradio {
    float: left;
    width: 60%;
    margin-left: 10px;
}