form label{
    color: #000;
}
.forminfomain{
    display: flex;
    justify-content: center;
}
.form{
    position: relative;
    z-index: 2;
}
.form input{
    margin-top:20px;
    color: #000;
}
.form .formcon{
    width:600px;
    margin-top:10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding:15px 40px;
}
.form .formcon input{
    background-color: transparent;
    border:none;
    outline: none;
    border-bottom: black solid 1px;
}
.form .formcon .radio{
    margin-left:30px;
}
.form .formcon .inradio{
    margin-left:20px ;
}
.buttons{
    margin-top:20px;    
    display: flex;
    width: fit-content;
}
.buttons .btn input{
    width:100px;
    height: 40px;
    background-color: greenyellow;
}
.buttons .reset input{
    background-color: lightcoral;
    margin-left:30px;
}
.buttons .btn button{
    width:100px;
    height: 40px;
    margin-top:20px;
    margin-left:30px;
}