/* Default CSS start */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
body {
  font-weight: 400;
  background-color: #121212;
  color: #eeeeee;
}
.highlight {
  background-color: #181818;
  color: #808080;
}
a,
li,
button,
ul {
  line-height: normal;
  text-decoration: none;
}
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #808080;
}
.go-back-home {
  font-size: larger;
  color: #818181;
}
.last-updated {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* Default CSS End*/

/*Nav Start*/
nav.navbar {
  position: fixed;
  width: auto;
  border-radius: 50px;
  padding: 12px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  transition: all 0.4s ease-in-out;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #808080;
  padding: 0 15px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
  color: #eee;
}
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: #eee;
}
nav.navbar.active {
  margin-top: 10px;
}
nav.navbar.scrolled {
  background: rgba(91, 91, 91, 0.3);
  box-shadow: 6px 6px 35px rgba(91, 91, 91, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
span.navbar-text {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  nav.navbar {
    text-align: center;
    width: 90vw;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: medium;
    letter-spacing: 0px;
  }
}
/* Navbar CSS End */

/*HomePage CSS Start*/
.home-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}
.home-cont {
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
}
.home-cont img {
  width: 80%;
}
.form-cont {
  width: 50%;
  float: right;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-cont-form {
  width: 80%;
  background: #FFFFFF;
  color: #000;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-cont-form h2{
  margin-bottom: 45px;
}
.signup-form label {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #000;
  text-align: left;
}
.signup-form label input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.signup-form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.auth-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.active-button {
  width: 50%;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #4caf50;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.inactive-button {
  width: 50%;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  color: #333;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
@media (max-width: 1100px) and (min-width: 701px) {
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
  }
  .home-cont {
    width: 80%;
  }
  .form-cont {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    justify-content: center;
  }
  .home-cont {
    width: 95%;
  }
  .form-cont {
    align-items: center;
    width: 100%;
  }
  .form-cont-form {
    width: 90%;
  }
}
/*HomePage CSS End*/

/*MetaMask CSS Start*/
.metamask-page-cont {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.metamask-cont {
  width: 40%;
  background: #FFFFFF;
  color: #000;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
}
.meta-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.metamask-cont button {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.meta-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.meta-det-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8px 0;
}
.meta-det-name {
  width: 20%;
  float: left;
  font-size: larger;
  font-weight: 650;
}
.meta-det-val {
  padding: 5px;
  width: 60%;
  float: right;
  border-radius: 4px;
  border-bottom: 0.5px #121212 solid;
}
.blur {
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 1350px) and (min-width: 981px){
  .metamask-cont{
    width: 55%;
  }
}
@media (max-width: 980px) and (min-width: 840px){
  .metamask-cont{
    width: 65%;
  }
}
@media(max-width: 839px) and (min-width: 600px){
  .metamask-cont{
    width: 75%;
  }
}
@media(max-width: 599px){
  .metamask-cont{
    width: 80%;
    font-size: small;
  }
  .meta-det-name {
    font-size: medium;
  }
  .metamask-cont button {
    font-size: small;
  }
}
/*MetaMask CSS End*/

/*Webkit Style Start*/
::-webkit-scrollbar {
  display: none;
}
/*Webkit Style End*/