/* Default CSS start */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
body {
  font-weight: 400;
  background-color: #121212;
  color: #eeeeee;
}
.highlight {
  background-color: #181818;
  color: #808080;
}
h1,h2{
  color: #000;
}
a,
li,
button,
ul {
  line-height: normal;
  text-decoration: none;
}
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #808080;
}
.go-back-home {
  font-size: larger;
  color: #818181;
}
.last-updated {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* Default CSS End*/

/*Nav Start*/
nav.navbar {
  margin-top: 10px;
  position: fixed;
  width: fit-content;
  border-radius: 50px;
  padding: 12px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  transition: all 0.4s ease-in-out;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #808080;
  padding: 0 15px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
  color: #eee;
}
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: #eee;
}
nav.navbar.active {
  margin-top: 10px;
}
nav.navbar.scrolled {
  background: rgba(91, 91, 91, 0.3);
  box-shadow: 6px 6px 35px rgba(91, 91, 91, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
span.navbar-text {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  nav.navbar {
    text-align: center;
    width: 90vw;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: medium;
    letter-spacing: 0px;
  }
}
/* Navbar CSS End */

/*HomePage CSS Start*/
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-gradient-h{
  font-size: 500%;
  font-weight: 900;
}
.form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-cont-form {
  width: 500px;
  margin: auto;
  background: rgb(0, 181, 185);
  background: linear-gradient(152deg, rgba(0, 181, 185, 1) 0%, rgba(5, 118, 148, 1) 35%, rgba(0, 97, 117, 1) 100%);
  border-radius: 20px;
  color: #000;
  padding: 45px;
  text-align: center;
  margin-bottom: 20px;
}
::placeholder {
  color: black;
  opacity: 1;
}
.form-cont-form h1{
  margin-bottom: 45px;
  color:#000;
  font-size: 350%;
  font-weight: 700;
}
.signup-form label {
  display: flex;
  flex-direction: column;
  border-bottom: #000 0.5px solid;
  margin-bottom: 6px;
  color: #000;
  text-align: left;
}
.signup-form label input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: none;
  width: 100%;
  border: 0;
  padding: 15px 0;
  box-sizing: border-box;
  font-size: 14px;
}
.button-cont{
  margin-top: 40px;
}
.signup-form button{
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: 0;
  margin-bottom: 10px;
  background: #000;
  border-radius: 50px;
  width: 80%;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
@media ( max-width: 900px){
  .landing-gradient-h {
    font-size: 200%;
  }
  .form-cont-form {
    width: 70%;
  }
}
/*HomePage CSS End*/

/*LoginPage CSS Start*/
.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*LoginPage CSS Start*/

/*MetaMask CSS Start*/
.metamask-page-cont {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}
.meta-head{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.metamask-cont {
  width: 40%;
  background: rgb(0, 181, 185);
  background: linear-gradient(152deg, rgba(0, 181, 185, 1) 0%, rgba(5, 118, 148, 1) 35%, rgba(0, 97, 117, 1) 100%);
  border-radius: 20px;
  color: #000;
  padding: 45px;
}
.metamask-cont button {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #000;
  color: #fff;
  font-weight: 800;
  border-radius: 50px;
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
}
.meta-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.meta-det-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8px 0;
}
.meta-det-name {
  width: 20%;
  float: left;
  font-size: larger;
  font-weight: 650;
}
.meta-det-val {
  padding: 5px;
  width: 60%;
  float: right;
  border-radius: 4px;
  border-bottom: 0.5px #121212 solid;
}
.blur {
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@media (max-width: 1350px) and (min-width: 981px){
  .metamask-cont{
    width: 55%;
  }
}
@media (max-width: 980px) and (min-width: 840px){
  .metamask-cont{
    width: 65%;
  }
}
@media(max-width: 839px) and (min-width: 600px){
  .metamask-cont{
    width: 75%;
  }
}
@media(max-width: 599px){
  .metamask-cont{
    width: 80%;
    font-size: small;
  }
  .meta-det-name {
    font-size: medium;
  }
  .metamask-cont button {
    font-size: small;
  }
}
/*MetaMask CSS End*/

/*Webkit Style Start*/
::-webkit-scrollbar {
  display: none;
}
/*Webkit Style End*/